{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="{{url_for('static',filename='style/index.css')}}">

<div class="flex items-center justify-center" style="height: 75%;">
  <div class="flex flex-col text-center w-full mb-20 items-center	">
    {% if(conversations) %}
      <div class="chatbox flex flex-col">
        {% for conversation in conversations %}
        <div class="response"align="right">{{conversation[0]}}</div>
        <div class="response"align="left"> {{ conversation[1] }}</div>
        <hr>
        {% endfor %}
      </div>
    {% else %}
    <img src="{{url_for('static',filename='images/banner.png')}}" alt="" class="lg:m-16 lg:p-8 p-4 sm:p-8">
    {% endif %}
  </div>
</div>
<div class="down_box w-full">
  <form class="msg-inputarea px-2 sm:px-4 lg:px-6 xl:px-12  my-20 sm:my-14 lg:my-10 xl:my-5" action="#" id="chatbox" method="POST">
      <textarea rows="1" type="text" id="msg_input"name="msg_input" class="msg-input" placeholder="Enter your message..." ></textarea>
      <button type="submit" class="msg-send-btn"><span class="material-symbols-outlined">
          send
          </span></button>
          
  </form>
</div>
{% endblock %}